/* Aside */
aside>h2{
    text-align: center;
    font-size: 1.3rem;
    
}

aside>div:nth-child(even){
    background-color:rgb(44, 43, 43);
}

/* fondo de las imágenes microblogging */
aside>div>img{
    background-color: #FFF;
    padding: 0.5rem;
    /* redondea el borde del fondo */
    border-radius: 50%;
}


/* Flex Box */
nav{
    font-size: 1.3rem;
}

nav>ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #FFF;
    padding-bottom: 0.5rem;
}

article>header>hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article>header>hgroup>h2{
    display:flex;
    align-items: center;
}

article>header>hgroup>h2>img{
    margin-right: 1rem;
}

aside>div{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    padding: 0.75rem;
    align-items: center;
    gap: .5rem;
}

/* Termina Flex Box */

/* Pseudoclases */
nav>ul>li>a:hover{
    text-decoration:underline;
    color: greenyellow;
 }
/* Termina Pseudoclases*/

/* Grids */
section {
    /* Crea el grid */
    display: grid;
    /* 12 columnas */
    grid-template-columns: repeat(12, 1fr);
    /* Espacio filas */
    grid-auto-rows:auto;
    /* Espacio elementos grid */
    gap: 3rem;
}

section>header {
    /* Extensión de la sección */
    grid-column: span 12;
}

section>main {
    /* Extensión de la sección */
    grid-column: span 8;
}

section>aside {
    /* Extensión de la sección */
    grid-column: span 4;
}

section>footer {
    /* Extensión de la sección */
    grid-column: span 12;
}

/* Clases generales */
body{
   background-color:#000000 ; 
    color: #FFF;
}
article{
    background-color:rgb(44,43,43);
    padding: 1.5rem;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFF;
}

/* Terminan clases generales */

/* Barra de navegación */
nav>ul>li{
    color: #FFFF00;
    list-style:none;
}

.resaltado{
    color: #FFFF00;
}

nav>ul>li>a{
    text-decoration:none;
    color: #FFF;
 }
/* Termina barra de navegación */


/* Título del blog */
#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
}

/* Termina título del blog */

/* Ilustraciones */
.ilustracion {
    border-width: 4px;
    border-style: solid;
    border-color:#FFF;
    display: inline-block;
}

.ilustracion figcaption {
    margin-top:1rem;
    margin-left:1rem;
    font-style:italic;
} 
/* Termina ilustraciones */

/* Footer del blog */
#footer_blog {
    margin:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 4rem 0;
    font-size: 1.3rem;
}

#footer_blog div:nth-child(2){
    font-size: 0.9rem;
}
 
/* Termina footer del blog */
