/* Grids */
section {
    /* Crea el grid */
    display: grid;
    /* 12 columnas */
    grid-template-columns: repeat(12, 1fr);
    /* Espacio filas */
    grid-auto-rows:auto;
    /* Espacio elementos grid */
    gap: 3rem;
}

section>header {
    /* Extensión de la sección */
    grid-column: span 12;
}

section>main {
    /* Extensión de la sección */
    grid-column: span 8;
}

section>aside {
    /* Extensión de la sección */
    grid-column: span 4;
}

section>footer {
    /* Extensión de la sección */
    grid-column: span 12;
}

/* Clases generales */
body{
   background-color:#000000 ; 
    color: #FFF;
}
article{
    background-color:rgb(44,43,43);
    padding: 1.5rem;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFF;
}

/* Terminan clases generales */

/* Barra de navegación */
nav>ul>li{
    color: #FFFF00;
    list-style:none;
}

.resaltado{
    color: #FFFF00;
}

nav>ul>li>a{
    text-decoration:none;
 }
/* Termina barra de navegación */


/* Título del blog */
#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
}

/* Termina título del blog */

/* Ilustraciones */
.ilustracion {
    border-width: 4px;
    border-style: solid;
    border-color:#FFF;
    display: inline-block;
}

.ilustracion figcaption {
    margin-top:1rem;
    margin-left:1rem;
    font-style:italic;
} 
/* Termina ilustraciones */

/* Footer del blog */
#footer_blog {
    margin:2rem;
}
/* Termina footer del blog */
