body{
   background-color:#000000 ; 
    color: #FFF;
}
article{
    background-color:rgb(44,43,43)
}

nav>ul>li{
    color: #FFFF00;
}

.resaltado{
    color: #FFFF00;
}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
}